<!-- Validation failure messages -->
<% if @reader_reading.errors.any? %>
  <% @reader_reading.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Reader Reading #<%= @reader_reading.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_reader_reading/<%= @reader_reading.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for reader_id -->
      <div class="form-group">
        <label for="reader_id" class="control-label">
          Reader
        </label>

        <%= select_tag(:reader_id, options_from_collection_for_select(Reader.all, :id, :email, @reader_reading.reader_id), :class => "form-control") %>
      </div>

      <!-- Label and input for reading_id -->
      <div class="form-group">
        <label for="reading_id" class="control-label">
          Reading
        </label>

        <input type="text" id="reading_id" name="reading_id" placeholder="Reading" class="form-control" value="<%= @reader_reading.reading_id %>">
      </div>

      <button class="btn btn-warning">
        Update Reader Reading
      </button>
      or
      <a href="/reader_readings/<%= @reader_reading.id %>">Cancel</a>
    </form>
  </div>
</div>
