<div class="page-header">
  <h1>
    Reader readings
    <a href="/reader_readings/new" class="btn btn-lg btn-success">New Reader reading</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Reader</th>
        <th>Reading</th>
        <th>Actions</th>
      </tr>

      <% @reader_readings.each do |reader_reading| %>
      <tr>
        <td><%= reader_reading.reader.email %></td>
        <td><%= reader_reading.reading.title %></td>
        <td>
          <a href="/reader_readings/<%= reader_reading.id %>" class="btn btn-primary">Show</a>
          <a href="/reader_readings/<%= reader_reading.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_reader_reading/<%= reader_reading.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
