<div class="page-header">
  <h3>Reader Reading #<%= @reader_reading.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Reader</dt>
      <dd><%= @reader_reading.reader_id %></dd>

      <dt>Reading</dt>
      <dd><%= @reader_reading.reading_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reader_readings" class="btn btn-primary">
        Back
      </a>
      <a href="/reader_readings/<%= @reader_reading.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_reader_reading/<%= @reader_reading.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Reader reading has many reader_words -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reader Words
      </li>

      <% @reader_reading.reader_words.each do |reader_word| %>
        <li class="list-group-item">
          <a href="/reader_words/<%= reader_word.id %>">
            <%= reader_word.reader_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reader_words/<%= reader_word.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reader_words/<%= reader_word.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_reader_word/<%= reader_word.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_reader_word" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for reader_id -->
      <input type="hidden" name="reader_id" value="<%= current_user.id %>">

      <!-- Label and input for word_id -->
      <div class="form-group">
        <label for="word_id" class="control-label">
          Word
        </label>

        <%= select_tag(:word_id, options_from_collection_for_select(Word.all, :id, :word), :class => "form-control") %>
      </div>

      <!-- Label and input for reader_readings_id -->
      <div class="form-group">
        <label for="reader_readings_id" class="control-label">
          Reader readings
        </label>

        <%= select_tag(:reader_readings_id, options_from_collection_for_select(ReaderReading.all, :id, :reader_id), :class => "form-control") %>
      </div>

      <!-- Label and input for context -->
      <div class="form-group">
        <label for="context" class="control-label">
          Context
        </label>

        <textarea id="context" name="context" placeholder="Context" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for favorite -->
      <div class="form-group">
        <label for="favorite" class="control-label">
          Favorite
        </label>

        <input type="text" id="favorite" name="favorite" placeholder="Favorite" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Reader Word
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
